/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Header */
  header {
    background-color: #fed67f;
    padding: 30px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    background-color: #ffc86d;
    margin-right: 20%;
  }
  
  .text-block h1 {
    margin-bottom: 10px;
  }
  
  .text-block p {
    color: #fff;
  }
  
  /* Main Grid */
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .caja1 {
    background-color: #c4edf1;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .cajHead1{
    background-color: #abe0e4;
    height: 15%;
    width: 100%;
  }

  .cajCenter1{
    background-color: #abe0e4;
    height: 65%;
    width: 65%;
  }
  .caja2 {
    background-color: #ff9978;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .caja3 {
    background-color: #fed67f;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Footer */
  .grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
  }

  .titul p {
    background-color: #cccbc9;
    padding: 5px;
    box-sizing: content-box;
    width: fit-content;
  }

  footer {
    background-color: #e5e5e5;
    padding: 5px;
    text-align: center;
  }

  .foot p {
    margin: 10px 0;
    height: 15px;
    display: ruby;
    justify-content: center;
    align-items: center;
  }